header {
    height: 50px;
    background-color: blue;
}
footer{
    height: 100px;
    background-color: grey;
   
}
main{
    margin: 10%;
}
main form{
    display: inline-flex;
    flex-direction: column;
    width: 20%;
   
     
}
main form input{
    
    padding: 3%;
}
main form button{
    background-color: red;
    color: white;
    width: 50%;
    align-self: flex-end;
    padding: 3%;
    

}